html,

body {
    margin: 0;
    padding: 1%;
    width: 100%;
}

/*Slide Show*/
.carousel{
	/* top and bottom margins are 10px - right and left margins are 5px */
	margin: 5% 25%;
	width: 50%;
}

.container {
    padding: 50px;
}

.card {
    margin: 10px auto; /* Added */
    float: none; /* Added */
    margin-bottom: 10px; /* Added */
	padding: 1%;
}

.card-body{
	text-align: center;
	font-family:  Times, serif;
}

.btn{
	width:200px;
}

.card-header{
	font-family:  Times, serif;
}